html {
	box-sizing: border-box;	
	padding-top: 100px;
	height: 2000px;
}

*. *:after, *:before {
	box-sizing: inherit;
}

#container {
	margin-top: 200px;
	width: 50%;
	margin: auto;
}

div {
	border: 1px solid black;

}

.header {
	background: #ccc;
	padding: 10px;
}

h3 {
	margin:0;
}

.copy {
	padding: 10px;
	display: none;
}

