html {
	box-sizing: border-box;	
	padding-top: 100px;
	height: 2000px;
}

*. *:after, *:before {
	box-sizing: inherit;
}

#container {
	margin-top: 200px;
	width: 50%;
	margin: auto;
}

.header {
	background: #00C6D6;
	padding: 15px;
	border-bottom: 1px solid #00B4C3;
	color: #FEFEFE;
}

.header:hover {
	background: #00DAEC;
}

h3 {
	margin:0;
	font-weight: lighter;
}

p {
	margin: 23px;
}

.copy {
	overflow: auto;
	max-height:0px;
	transition: max-height 1s;
	border-bottom: 1px solid #00B4C3;
	border-left: 1px solid #00B4C3;
	border-right: 1px solid #00B4C3;
	color: #8A736B;
}

.show {
	max-height: 100px;
}

